* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Unica One', sans-serif;
  background: #f1f1f1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
}

.heading {
  color: #000;
  font-size: 7rem;
  font-weight: 300;
  text-transform: uppercase;
}

.portfolio {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}